<footer class="footer">
    <div class="row">
      <div class="col-sm-5">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">¿Tenés algún comentario o sugerencia para hacer?</h5>
            <p class="card-text">Tu opinión nos sirve para brindar un mejor servicio!</p>
            <a href="../users/contacto" class="btn btn-primary">Contactanos!</a>
          </div>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="card">
          <div class="card-body">
            <p class="card-text-2">También encontranos en nuestras redes sociales:</p>
            <br>
            <br>
            <br>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="card">
          <div class="card-body">
            <p class="card-text">Facebook <a href="http://www.facebook.com"><i class="fab fa-facebook-square"></i></a> </p>
            <p class="card-text">Instagram <a href="http://www.instagram.com"><i class="fab fa-instagram"></i></a></p>
            <p class="card-text">Twitter <a href="http://www.twitter.com"><i class="fab fa-twitter-square"></i></a></p>
            <br>
            <br>
            <br>
          </div>
        </div>
      </div>
    </div>
  </footer>