<div class="card text-center">
  
  <div class="card-body">
    <h5 class="card-title">¿Tenés algún comentario o sugerencia para hacer?</h5>
    <p class="card-text">Tu opinión nos sirve para brindar un mejor servicio!</p>
    <a href="../users/contacto" class="btn btn-primary">Contactanos!</a>

    <br>
    <br>
 
  <p>También encontranos en nuestras redes sociales:</p>

          <div class="card-body redes">
            <span class="card-text">Facebook <a href="http://www.facebook.com"><i class="fab fa-facebook-square"></i></a> </span>
            <span class="card-text">Instagram <a href="http://www.instagram.com"><i class="fab fa-instagram"></i></a></span>
            <span class="card-text">Twitter <a href="http://www.twitter.com"><i class="fab fa-twitter-square"></i></a></span>
          </div>
  
</div>

</div>