<header class="main-header">
    <div class="container">
      <div class="row align-items-center">
        <img class="logo" class="col-3" src="/images/tecno_logo.png" alt="logo">
        <div class="titulo" class="col-9"><h1>TECNO-STORE</h1></div>
      </div>
           

            <div class="row">
                <form action="" method="get" class="search-form" class="col-11">
                    <input type="text" name="search" placeholder="Busca tu producto" class="search-form_input">
                    <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
                </form>
                <a href="../products/carrito" class="icon" class="col-1"><i class="fas fa-shopping-cart" ></i></a>
            </div>
        </div>
        <div class="nombre_usuario">
          <% if(userData != undefined) { %>
            <%= userData.user %> <a href="/users/logout"><button>Cerrar sesion</button></a>
          <% }else{ %>
            <a href="/users/login">Iniciar sesion</a>
          <% } %>
        </div>
    </div>
    
  


    
    
</header>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
  <div class="navbar-nav">
    <a class="nav-item nav-link" href="../">Home<span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link" href="../products">Productos</a>
    <a class="nav-item nav-link" href="../users/register">Registrarse</a>
    <a class="nav-item nav-link" href="../users/login">Ingresar</a>
    <a class="nav-item nav-link" class="contact" href="../users/contacto">Contacto</a>
    
    
  </div>
</div>
</nav>

