<header class="main-header">
    <div class="container">
  <div class="titulo"><h1>TECNO-STORE</h1></div>
        <div class="row align-items-center">
            <div class="col-5 col-md-2">
                <a href="/" class="main-header_home-link"></a>
                    <img class="logo" src="/images/tecno_logo.png" alt="logo">
                </a>
    </div>
           

            <div>
                <form action="" method="get" class="search-form">
                    <input type="text" name="search" placeholder="Busca tu producto" class="search-form_input">
                    <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
                </form>
            </div>
          <a href="../products/carrito"><i class="fas fa-shopping-cart" ></i></a>
        </div>
        
    </div>
</header>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
  <div class="navbar-nav">
    <a class="nav-item nav-link" href="../">Home<span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link" href="../products/detalle">Productos</a>
    <a class="nav-item nav-link" href="../users/register">Registrarse</a>
    <a class="nav-item nav-link" href="../users/login">Ingresar</a>
    <a class="nav-item nav-link" href="../users/contacto">Contacto</a>
    <a class="nav-item nav-link" href="../products/alta">Alta de producto</a>
    
  </div>
</div>
</nav>

