<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TECNO-STORE</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/alta.css' />  
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div><img src="\images\tecno_logo.png" alt style="height: 50%;"></div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="\products\detalle">Productos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="\products\alta">Alta de Productos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Registrate</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
<div><img src="\images\banner.jpg" alt style="box-sizing: border-box ;width: 100%;">
</div>
<form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <input type="text"  placeholder="Producto">
      </div>
      <div class="form-group col-md-6">
        <input type="text"  placeholder="Descripcion">
      </div>
    </div>
    <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <input type="number"  placeholder="Precio">
          </div>
          <div class="form-group col-md-6">
            <input type="text" placeholder="Color">
          </div>
        </div>
      </form>
  </form>
  <form>
    <div class="form-group">
      <label for="exampleFormControlFile1"></label>
      <input type="file" class="form-control-file" id="exampleFormControlFile1">
    </div>
  </form>
</body>
</html>