<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TECNO-STORE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/alta.css' />  
  </head>
  <body>
    <%- include('./partials/header') %>

    <br>

    <form class="form-group" method="POST" action="/products/alta" enctype="multipart/form-data">
      <div class="form-group">
        <label for="nombre"> <b> Nombre del Producto </b></label>
        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Escriba el nombre del producto">
      </div>
     

      <div class="form-group">
        <label for="exampleFormControlTextarea1"><b> Detalle del Producto </b></label>
        <textarea class="form-control" id="exampleFormControlTextarea1" name="detalle" placeholder="Escriba una descripción del producto" rows="3"></textarea>
      </div>

      <div class="campo_chico">
        <label for="precio"> <b> Precio </b></label>
        <span>$</span>
        <input type="number" class="form-control" id="precio" name="precio" placeholder="0">
      </div>

      <div class="campo_chico">
        <label for="exampleFormControlSelect1"><b> Stock a añadir </b></label>
        <select class="form-control" id="exampleFormControlSelect1" name="stock">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>10</option>
        </select>
      </div>

      <div class="form-group">
      <label for="suba_imagen"><b> Agregar Imagen </b></label>
    <br>
    <input type="file" name="imagen">
    <br>
    <br>
    </div>

    <div class="submit">
    <input type="submit" value="Añadir producto">
    </div>
  
    </form>


  


  <%-include("./partials/footer") %>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>