<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TECNO-STORE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/alta.css' />  
  </head>
  <body>
    <%- include('./partials/header') %>
<div><img src="\images\banner.jpg" alt style="box-sizing: border-box ;width: 100%;">
</div>
<form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <input type="text"  placeholder="Producto">
      </div>
      <div class="form-group col-md-6">
        <input type="text"  placeholder="Descripcion">
      </div>
    </div>
    <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <input type="number"  placeholder="Precio">
          </div>
          <div class="form-group col-md-6">
            <input type="text" placeholder="Color">
          </div>
        </div>
      </form>
  </form>
  <form>
    <div class="form-group">
      <label for="exampleFormControlFile1"></label>
      <input type="file" class="form-control-file" id="exampleFormControlFile1">
    </div>
  </form>
  <%-include("./partials/footer") %>
</body>
</html>