<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TECNO-STORE</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/detalle.css' />  
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div><img src="\images\tecno_logo.png" alt style="height: 50%;"></div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="\products\detalle">Productos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="\products\alta">Alta de Productos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Registrate</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
<div><img src="\images\banner.jpg" alt style="box-sizing: border-box ;width: 100%;">
    <div class="card-group">
        <div class="card">
          <img src="\images\mouse-logitech-blue.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Mouse inalámbrico Logitech M170 negro</h5>
            <p class="card-text">Descripción
                El mejor aliado para lo que necesites. Usá tu Logitech M170 en la oficina, en tu casa o donde quieras y navegá en tus dispositivos sin límites.
                A un click de distancia
                Debido a su diseño eficaz, este mouse convencional te brindará comodidad y una gran experiencia de uso. Además, su sistema de detección de movimiento óptico te permitirá mover el cursor de una manera más precisa y sensible que en los sistemas tradicionales.</p>
                <button type="button" class="btn btn-primary">Agregar al carrito</button>
          </div>
        </div>
        <div class="card">
          <img src="\images\c270-hd-webcam-refresh.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Web Cam Logitech C270 720p Hd Microfono</h5>
            <p class="card-text">• Videoconferencias en alta definición
                Con video HD 720p en pantalla panorámica en la mayoría de aplicaciones de mensajería instantánea y Logitech Vid HD.
                
                • Instantáneas de 3 megapixeles
                Haga fotos si no tiene tiempo para una videoconferencia (mejora por software).
                
                • Micrófono integrado con RightSound
                Le ofrece conversaciones con un sonido nítido y sin molestos ruidos de fondo..</p><br>
                <br>
                <button type="button" class="btn btn-primary">Agregar al carrito</button>
          </div>
        </div>
        <div class="card">
          <img src="\images\k270-gallery.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">WIRELESS KEYBOARD K270</h5>
            <p class="card-text">TECNOLOGÍA INALÁMBRICA AVANZADA DE 2,4 GHZ
                Para trabajar o jugar desde más lugares como si estuviese en el sofá: la conexión inalámbrica elimina casi por completo retrasos, interrupciones e interferencias y ofrece un alcance de hasta 10 metros.</p><br>
                <br>
                <br>
                <br>
                <button type="button" class="btn btn-primary">Agregar al carrito</button>
          </div>
        </div>
      </div>
</body>
</html>