<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TECNO-STORE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/stylesheet/detalle.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    
  </head>
<body>
    <%- include('./partials/header') %>
    <div class="container">   
      <div class="card mb-3" style="max-width: 100%;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="\images\c270-hd-webcam-refresh.png" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <div class="meta">
                <h3>WEBCAM LOGITECH C270 HD</h3>
                • La C270 HD Webcam permite realizar videoconferencias panorámicas HD 720p con calidad de imagen nítida. <br>
• Mediante el ajuste automático a las condiciones de iluminación, se obtienen imágenes más luminosas aunque haya poca luz. <br>
• El micrófono reductor de ruido garantiza conversaciones claras incluso en entornos concurridos. <br>
• Esta cámara Web pequeña, ágil y ajustable aporta una nueva perspectiva a las videoconferencias, al permitir grabar vídeo HD y publicarlo en las redes sociales favoritas. <br>
<br>
<h4>$8999.00</h4>
                <div class="shipping">
                Disponible para entrega inmediata
                </div>
                <div class="tags">
                
                </div>
                </div>
              <button type="button" class="btn btn-link"><a href="../products/carrito"> Agregar al carrito</a></button>
            </div>
          </div>
        </div>
      </div>
      <div class="info air">
        <p><b>REQUISITOS DEL SISTEMA</b><br>
        Lo que necesita:<br>
        Windows® 7, Windows 8, Windows 10 o posterior<br>
        macOS 10.10 o superior<br>
        ChromeOS</p>
        <p><b>Requisitos básicos:</b><br>
        1 GHz<br>
        512 MB de RAM o más<br>
        Disco duro con 200 MB de espacio libre<br>
        Conexión a Internet<br>
        Puerto USB 1.1 disponible (se recomienda 2.0)</p>
        <p><b>Para videoconferencias HD 720p y grabaciones de vídeo HD:</b><br>
        Intel® Core™2 Duo a 2,4 GHz<br>
        2 GB de RAM<br>
        Disco duro con 200 MB de espacio libre<br>
        Puerto USB 2.0<br>
        Velocidad de carga de 1 Mbps o superior<br>
        Resolución de pantalla de 1280 x 720</p>
        <p><b>Especificaciones:</b><br>
        Videoconferencias HD (1280 x 720 píxeles) con el sistema recomendado<br>
        Captura de vídeo: Hasta 1280 x 720 píxeles<br>
        Tecnología Logitech Fluid Crystal™<br>
        Fotos: Hasta 3.0 megapíxeles (mejora por software)<br>
        Micrófono integrado con reducción de ruido<br>
        Certificación USB 2.0 de alta velocidad (se recomienda)<br>
        Clip universal para monitores LCD, CRT o portátiles</p>
        <p>Software de cámara Web Logitech:<br>
        Controles de panorámico, inclinación y zoom<br>
        Captura de vídeo y fotos<br>
        Seguimiento facial<br>
        Detección de movimiento <br>
        Funciones de software sujetas a cambios.<br>
        Los servicios adicionales requieren acceso a Internet y registro.<br>
        Funciona con la mayoría de aplicaciones de mensajería instantánea.</p>
        <p><b>CONTENIDO DE LA CAJA</b><br>
        Cámara Web con cable de 1,5 m<br>
        Documentación del usuario</p>
        <p><b>INFORMACIÓN DE GARANTÍA</b><br>
        Dos años de garantía de hardware limitada</p>
        <p></p> </div>
     
      
      




    <%-include("./partials/footer") %>
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>