* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
.title {
    text-align: center;
  }

element.style {
    box-sizing: border-box;
    width: 90%;
}

.registro {
    background-color: palegreen;
    
}

.form-group{
  width: 85%;
  padding-left: 15px;
}

.campo_chico{
  padding-left: 15px;
  width: 25%;
  margin-bottom: 1rem;
}

.submit{
  padding-left: 78%;
}

.producto_subido{
  padding-left: 15px;
}