* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:grey;
  }
  
  .title {
    text-align: center;
  }
  element.style {
    box-sizing: border-box;
    width: 100%;
}
.card-title{
  color: beige;
}
.product .meta h1 {
  color: blue#000;
  font-size: 26px;
  margin: 0 0 10px;
}